$primary_100: #262261;
$primary_90: #312D69;
$primary_80: #474379;
$primary_70: #5C5988;
$primary_60: #726F98;
$primary_50: #8885A8;
$primary_40: #9D9CB8;
$primary_30: #B3B2C8;
$primary_20: #C9C8D7;
$primary_10: #DEDEE7;

$secondary_100: #4C3B0C;
$secondary_90: #997717;
$secondary_80: #CC9E1F;
$secondary_70: #E6B223;
$secondary_60: #FFC627;
$secondary_50: #FFD152;
$secondary_40: #FFDD7D;
$secondary_30: #FFE8A9;
$secondary_20: #FFEEBE;
$secondary_10: #FFF4D4;

$text_100: #0E1115;
$text_90: #1C222A;
$text_80: #2B333F;
$text_70: #394454;
$text_60: #475569;
$text_50: #6C7787;
$text_40: #9199A5;
$text_30: #B5BBC3;
$text_20: #DADDE1;
$text_10: #F4F4F6;

$green_100: #022C16;
$green_90: #043E15;
$green_80: #074B16;
$green_70: #0C5D16;
$green_60: #116F15;
$green_50: #1C8218;
$green_40: #53B445;
$green_30: #85D96F;
$green_20: #BAF2A3;
$green_10: #DFF8D0;

$red_100: #301111;
$red_90: #602323;
$red_80: #913434;
$red_70: #C14646;
$red_60: #F15757;
$red_50: #F47979;
$red_40: #F79A9A;
$red_30: #F9BCBC;
$red_20: #FCDDDD;
$red_10: #FEF5F5;