@import "../../styles/colors.scss";

.seccion-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 86px;

  .seccion-left {
    width: 100%;
    max-width: 50%;
    text-align: left;

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 124%;
      text-align: left;
      width: 668px;
      height: 119px;
    }

    .subtitle {
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 146%;
      color: $primary_100;
      text-align: left;
    }

    .lista {
      padding-top: 15px;
      padding-bottom: 15px;

      .icon {
        margin-left: -1%;
        color: $primary_100;
      }
    }

    .botones {
      display: flex;
      gap: 20px;
      .boton-registrate {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 20px;
        border-radius: 30px;
        background: $primary_100;
        color: $text_10;
        width: 180px;
        height: 59px;
      }
      .boton-sesion{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 20px;
        border-radius: 30px;
        background: #CDDAF4;
        color: $primary_100;
        width: 180px;
        height: 59px;
      }
    }
  }
  .seccion-rigth {
    display: flex;

    width: 50%;
  }
}
